.speech-bubble[data-slot="0"]{left:25.78125%;top:49.30556%}
.task-card[data-owner="praroro"]{--owner:#697d45}
.speech-bubble[data-slot="1"]{left:42.18750%;top:47.91667%}
.task-card[data-owner="paijo"]{--owner:#71845a}
.speech-bubble[data-slot="2"]{left:58.59375%;top:49.30556%}
.task-card[data-owner="subagjo"]{--owner:#426d78}
.speech-bubble[data-slot="3"]{left:30.46875%;top:74.30556%}
.task-card[data-owner="alex"]{--owner:#596c76}
.speech-bubble[data-slot="4"]{left:47.65625%;top:72.22222%}
.task-card[data-owner="sumiati"]{--owner:#8b654d}
.speech-bubble[data-slot="5"]{left:64.84375%;top:74.30556%}
.task-card[data-owner="siti"]{--owner:#6e7d55}
.speech-bubble[data-slot="6"]{left:80.85938%;top:38.88889%}
.task-card[data-owner="maya"]{--owner:#a45e61}
.speech-bubble[data-slot="7"]{left:89.45313%;top:38.88889%}
.task-card[data-owner="gugun"]{--owner:#8b6c3e}
.speech-bubble[data-slot="8"]{left:80.85938%;top:49.30556%}
.task-card[data-owner="ratri"]{--owner:#557f6f}
.speech-bubble[data-slot="9"]{left:89.45313%;top:49.30556%}
.task-card[data-owner="bimo"]{--owner:#476b8a}
.speech-bubble[data-slot="10"]{left:80.85938%;top:59.72222%}
.task-card[data-owner="nara"]{--owner:#6e668f}
.speech-bubble[data-slot="11"]{left:89.45313%;top:59.72222%}
.task-card[data-owner="dina"]{--owner:#a06f78}
.speech-bubble[data-slot="12"]{left:80.85938%;top:70.13889%}
.task-card[data-owner="bambang"]{--owner:#8c734f}
.speech-bubble[data-slot="13"]{left:89.45313%;top:70.13889%}
.task-card[data-owner="fikri"]{--owner:#5e7660}
.speech-bubble[data-slot="14"]{left:12.50000%;top:47.91667%}
.task-card[data-owner="tari"]{--owner:#907b55}
.speech-bubble[data-slot="15"]{left:12.50000%;top:68.75000%}
.task-card[data-owner="caca"]{--owner:#b36f8d}
